<div class="settings-item">
  <label for="{{name}}">{{label}}</label>
  <input class="settings-item__input" value="{{value}}" name="{{name}}" id="{{name}}"
    type="{{#if inputType}}{{inputType}}{{else}}text{{/if}}" />
</div>